h1,h4{
    background-color: rgb(75, 75, 75);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
h4{
    margin-top: 10px;
}
