html,body{
    height: 100%;
    background-color: white;
}
ul{
    list-style-type: none;
}
.main-content{
    margin: 10px auto;
    width: 80%;
    padding: 5px;
    text-align: center;
}
.main-content h1{
    background-color: rgb(136, 136, 62);
    text-transform: uppercase;
    font-weight: 800;
    margin: 5px 0;
}
.main-content ul li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.main-content ul li a div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content ul li a div img{
    height: 20vh;
}
.main-content ul li a #c{
    height: 3vh;
}
.main-content ul li a #g{
    height: 8vh;
}
.main-content ul li a #p{
    height: 6vh;
    margin-bottom: 20px;
}
.main-content ul li a #b{
    height: 8vh;
}

@media screen and(max-width:600px){

    header nav ul{
        margin-top: 5px;
        background-color: white;
        color: black;
    }
}